body {
	margin-left: auto;
	margin-right: auto;
}


header {
	background-color: green;
	height: 120px;
}



li {
	display: inline;
}

a {
	text-decoration:none;
	margin-left: 10px;
	margin-right: 10px;

}

nav {
	text-align: center;
}

ul {

}