body {
	margin-left: auto;
	margin-right: auto;
}


header {
	background-color: #CBCBCB;
	height: 120px;
}



section {
	
}



li {
	display: inline;
}

a {
	text-decoration:none;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #866C8C;
	color: #FF0004;
}

nav {
	text-align: center;
	border: 4px;
}

ul {

}

a:hover {
	
	color: #FF0000;
    background-color: #00EBFF;
}